# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/

# Dependency directories
bower_components/

# Build output
dist/
build/

# Optional npm cache directory
.npm/

# MongoDB dump files
dump/

# Coverage reports
coverage/

# Others
.env.local
.env.development.local
.env.test.local
.env.production.local